---

- name: Check current Elastic license
  uri:
    url: "http://localhost:9200/_xpack/license" 
    method: GET
    return_content: yes
  register: license_current
  ignore_errors: yes

- name: Activate Elastic license
  uri:
    method: PUT
    url: "http://localhost:9200/_xpack/license?acknowledge=true"
    body_format: json
    body: "{{ lookup('file', elasticsearch_host_license_file_path )  }}"
    return_content: yes
  register: license_activated
  no_log: False
  when: elasticsearch_license_check.stat.exists
  failed_when: >
    license_activated.status != 200 or
    license_activated.json.license_status is not defined or
    license_activated.json.license_status != 'valid'

- debug:
    msg: "License: {{ license_activated }}"
