---
- name: Include OS family specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_os_family }}.yml"

- include_tasks: elasticsearch_pre.yml
- include_tasks: elasticsearch_install.yml

- block: # Config Elasticsearch
  - include_tasks: elasticsearch_search_config.yml
  - include_tasks: elasticsearch_post.yml
  tags:
    - elasticsearch-config

- include_tasks: elasticsearch_activate.yml